#star{
    background-color: yellow;
}

.red{
    background-color: #153cffeb;
}

p {
    color:red;
}

#fixed{
    width: 100px;
    background-color: red;
}

#percentage{
    background-color: blue;
    width: 30%;
}
#percentage2{
    background-color: rgb(54, 248, 148);
    width: 30%;
}

/* @media (min-width: 300px) and (max-width: 400px){
    #percentage2{
        display: none;
    }
} */

.click-btn{
    background-color: red;
}

@media (min-width: 300px) and (max-width: 500px){
    .nav{
        display: block !important;
    }
}
